{% extends "base.html" %}
{% block title %} Register Page {% endblock %}

{% block content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="text-center text-2xl font-bold tracking-tight text-gray-900">
                Create Your Account
            </h2>
            <p class="mt-2 text-center text-sm text-gray-500">
                Sign up to continue online ticket booking journey.
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="rounded-2xl bg-white p-6 shadow-sm ring-1 ring-gray-200 sm:p-8">

                <!-- Global Form Errors -->
                {% if form.non_field_errors %}
                <div class="mb-4 rounded-md border border-red-200 bg-red-50 p-3 text-sm text-red-700">
                    {{ form.non_field_errors|striptags }}
                </div>
                {% endif %}

                <form method="POST" class="space-y-5">
                    {% csrf_token %}

                    <!-- Username -->
                    <div>
                        <label for="id_username" class="block text-sm font-medium text-gray-900">
                            {{ form.username.label }}
                        </label>
                        <div class="mt-2">
                            <input type="text" name="username" id="id_username" required
                                autocomplete="username" placeholder="Enter your username"
                                value="{{ form.username.value|default_if_none:'' }}"
                                class="block w-full rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                        </div>
                        {% if form.username.errors %}
                        <p class="mt-1 text-sm text-red-600">
                            {{ form.username.errors|striptags }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Email-->

                    <div>
                        <label for="id_email" class="block text-sm font-medium text-gray-900">
                            {{ form.email.label }}
                        </label>

                        <div class="mt-2">
                            <input type="email" name="email" id="id_email" required
                                autocomplete="email" placeholder="Enter your email"
                                value="{{ form.email.value|default_if_none:'' }}"
                                class="block w-full rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                        </div>

                        {% if form.email.errors %}
                            <p class="mt-1 text-sm text-red-600">
                                {{ form.email.errors|striptags }}
                            </p>
                        {% endif %}

                    </div>

                    <!-- Password -->
                    <div>
                        <label for="id_password" class="block text-sm font-medium text-gray-900">
                            {{ form.password.label }}
                        </label>
                        <div class="mt-2">
                            <input type="password" name="password" id="id_password" required
                                autocomplete="new-password" placeholder="Enter your password"
                                class="block w-full rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                        </div>
                        {% if form.password.errors %}
                        <p class="mt-1 text-sm text-red-600">
                            {{ form.password.errors|striptags }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Confirm Password -->
                    <div>
                        <label for="id_password_confirm" class="block text-sm font-medium text-gray-900">
                            {{ form.password_confirm.label }}
                        </label>
                        <div class="mt-2">
                            <input type="password" name="password_confirm" id="id_password_confirm" required
                                autocomplete="new-password" placeholder="Confirm your password"
                                class="block w-full rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                        </div>
                        {% if form.password_confirm.errors %}
                        <p class="mt-1 text-sm text-red-600">
                            {{ form.password_confirm.errors|striptags }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm
                     hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Register
                    </button>

                </form>

                <p class="mt-6 text-center text-sm text-gray-500">
                    Already have an account?
                    <a href="{% url 'login' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
                        Login
                    </a>
                </p>
            </div>

        </div>
    </div>

{% endblock %}